@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  position: relative;
}
.container {
  max-width: 1046px;
  max-height: 768px;
  margin: 0 auto;
}
